*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    scroll-behavior: smooth;
    
}

:root{
    --mainColor: orange;
    --bacgroundColor: #eee;
}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 20px 150px;
    width: 100%;
    position: fixed;
    z-index: 999;
}
header h1{
    color: var(--mainColor);
    text-transform: uppercase;
    background-color: white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    padding: 10px
    
}
.navigation a{
    color: #a59a9a;
    margin-left: 20px;
    font-size: 1.2em;
    text-decoration: none;
    transition-property:font-size;
    transition-duration:  0.3s; 
    transition-timing-function: ease; 
    transition-delay: 0.1s;
}
.navigation a:hover,
.navigation a.active
{
    color: var(--mainColor);
    border-bottom: 2px solid var(--mainColor);
    font-size: 1.4em;
}


.home{
    background-image: url(images/writing-on-keybord.jpg);
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10px 150px;
}
.home .info{
    width: 80%;
    line-height: 2;
    font-size: 2.1em;
    color: #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.home .info h3 span{
    color: var(--mainColor);
}

.home button{
    background-color: var(--mainColor);
    padding: 20px 30px;
    border: none;
    color: #eee;
    font-weight: bold;
    font-size: 16px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    margin-top: 20px;
    cursor: pointer;
    transition: transorm 0.3 ease-in-out;
    -webkit-transition: transorm 0.3 ease-in-out;
    -moz-transition: transorm 0.3 ease-in-out;
    -ms-transition: transorm 0.3 ease-in-out;
    -o-transition: transorm 0.3 ease-in-out;
}
.home button:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
    line-height: 2;
    width: 800px;
}
.title{
    font-size: 28px;
    font-weight: 700;
    color: var(--mainColor);
    letter-spacing: 2px;
    margin-bottom: 50px;
    /* border-bottom: 1px dashed gray; */
}
.about p{
    margin-bottom: 50px;
    color: #313131;
    font-weight: 600;
    max-width: 800px;
    text-align: center;
    font-size: large;
    line-height: 2.5;
}
.skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        width: 800px;
        margin: 100px auto;
}
.skills .skill{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
.skills .skill span{
    background-color: var(--mainColor);
    color: #eee;
    padding: 10px 30px;
    margin: 0 0 20px 20px;
    font-size: 20px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.portfolio{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
.portfolio .card{
    width: 380px;
    height: 300px;
    background-color: #313131;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    transition: transform 0.3s ease-in-out;
    -webkit-transition: transform 0.3s ease-in-out;
    -moz-transition: transform 0.3s ease-in-out;
    -ms-transition: transform 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out;
}
.portfolio .card :hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.portfolio .card a img{
    
    width: 100%;
    height: 100%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
.contact .info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.contact .info .card{

    padding: 20px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact .info .card .info-content{
    display: flex;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
}

.contact .info .card .info-content h4{
    margin-left: 10px;
    font-size: 24px;
    color: #313131;
}
.contact .info .card i,
.contact .info .card a
{
    text-decoration: none;
    color: #313131;
    font-size: 24px;
}
.links a{
    margin-left: 10px;
}
.foot{
    display: flex;
    justify-content: space-between;
    padding: 20px 150px;
    background-color: #313131;
    color: #eee;
}
.foot p span{
    color: var(--mainColor);
    font-family: italic;
}
.foot .backButton a{
    color: #eee;
    text-decoration: none;
    margin-left: 5px;
}
.foot .backButton a:nth-of-type(2){
    color: #7e7575;
    font-size: 20px;
}

@media (max-width: 1024px) {
    header {
        padding: 20px 40px;
    }

    .navigation a {
        font-size: 1em;
        margin-left: 10px;
    }

    .home {
        padding: 10px 40px;
        background-position: center;
    }

    .home .info {
        width: 100%;
        font-size: 1.6em;
        text-align: center;
    }

    .about,
    .skills {
        width: 600px;
    }

    .portfolio .card {
        width: 300px;
        height: 240px;
    }
    .contact .info .card{
        margin-left: 0;
    }
    .foot {
        padding: 20px 40px;
    }
}


@media (max-width: 768px) {
    header {
        padding: 15px 20px;
    }

    .navigation a {
        margin-left: 12px;
        font-size: 1em;
    }

    .home {
        padding: 20px;
        height: 90vh;
        background-position: center;
    }

    .home .info {
        font-size: 1.3em;
        width: 90%;
    }

    .about,
    .skills {
        width: 90%;
    }

    .about p {
        font-size: 18px;
    }

    .portfolio .card {
        width: 90%;
        height: auto;
    }

    .contact .info {
        flex-direction: column;
        text-align: center;

    }

    .foot {
        padding: 15px 20px;
        text-align: center;
    }
}


@media (max-width: 480px) {
    header h1 {
        font-size: 1em;
        padding: 5px 10px;
    }

    .navigation a {
        font-size: 0.9em;
        margin-left: 8px;
    }

    .home {
        padding: 10px;
        height: 85vh;
    }

    .home .info {
        font-size: 1em;
        line-height: 1.6;
    }

    .home button {
        padding: 12px 25px;
        font-size: 14px;
    }

    .about p {
        font-size: 16px;
    }

    .skills .skill span {
        padding: 8px 20px;
        font-size: 16px;
    }

    .portfolio .card {
        width: 100%;
        height: auto;
        margin: 10px 0;
    }

    .contact .info .card h4,
    .contact .info .card i {
        font-size: 20px;
    }

    .foot p {
        font-size: 14px;
    }
}

.menu-icon {
    display: none;
    font-size: 2em;
    cursor: pointer;
    color: var(--mainColor);
}


@media (max-width: 768px) {
    .navigation {
        position: absolute;
        top: 70px;
        right: -100%;
        background: white;
        width: 200px;
        padding: 20px;
        border-radius: 10px;
        flex-direction: column;
        margin-bottom: 20px;
        gap: 15px;
        transition: 0.3s ease;
        display: flex;
}

    .navigation.open {
        right: 20px; 
    }

    .navigation a {
        color: #313131;
        font-size: 1.1em;
        padding-bottom: 8px;
        border-bottom: 1px solid #eee;
    }

    header {
        padding: 15px 20px;
        position: fixed;
    }

    .menu-icon {
        display: block;
    }
}
